__pycache__
*.pyc
.nfs*
rid.egg-info
*.egg
dist
build
.gitignore
rid/old
markdown.py
examples/__pycache__
examples/logs
examples/test*
examples/*.slurm
examples/context.py
examples/dpdisp.log
example_for_plumed
tests/dpdisp.log
tests/scrip_tt.py
tests/__pycache__
rid.egg-info
