__pycache__
*.pyc
.nfs*
ridkit.egg-info
tests/__pycache__
*.egg
dist
build
.gitignore
rid/old
markdown.py
examples/__pycache__
examples/logs
examples/test*
examples/*.slurm
examples/context.py
examples/dpdisp.log
tests
rid.egg-info
