name: rid python package test

on:
  - pull_request

jobs:
  Unittest:
    runs-on: ubuntu-latest
    container:
      image: pkufjhdocker/rid-tf-cpu:latest
    steps:
    - uses: actions/checkout@v2
    - name: Run unittest
      run: |
        pip install mock coverage 
        pip install pydflow
        cd ./tests
        coverage run -m unittest discover op
        DFLOW_DEBUG=1 coverage run -m unittest